<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee</title>
</head>
<body>
	<th:block th:insert="header.html"></th:block>
	<h1>Employee Form</h1>
	<hr>
	<div class="container-fluid">
		<div class="card">
			<div class="card-header bg-primary text-center text-white">
				<h4>Employee Details:</h4>
			</div>
			<div class="card-body ">
				<form action="/employee" method="post">

	<!-- ================= PERSONAL INFORMATION ================= -->
	<h5 class="bg-primary text-white p-2 rounded">
		Personal Information
	</h5>

	<div class="row p-2">
		<div class="col-md-4">
			<label for="fname" class="form-label">First Name</label>
		</div>
		<div class="col-md-6">
			<input type="text" id="fname" name="fname"
				placeholder="Enter Employee First Name"
				class="form-control">
		</div>
	</div>

	<div class="row p-2">
		<div class="col-md-4">
			<label for="lname" class="form-label">Last Name</label>
		</div>
		<div class="col-md-6">
			<input type="text" id="lname" name="lname"
				placeholder="Enter Employee Last Name"
				class="form-control">
		</div>
	</div>

	<div class="row p-2">
		<div class="col-md-4">
			<label class="form-label">Gender</label>
		</div>
		<div class="col-md-6 pt-1">

			<div class="form-check form-check-inline">
				<input type="radio" name="gender" id="male"
					value="male" class="form-check-input">
				<label for="male" class="form-check-label">Male</label>
			</div>

			<div class="form-check form-check-inline">
				<input type="radio" name="gender" id="female"
					value="female" class="form-check-input">
				<label for="female" class="form-check-label">Female</label>
			</div>

		</div>
	</div>

	<div class="row p-2">
		<div class="col-md-4">
			<label for="phone" class="form-label">Phone</label>
		</div>
		<div class="col-md-6">
			<input type="tel" id="phone" name="phone"
				placeholder="Enter Employee Phone"
				class="form-control">
		</div>
	</div>

	<div class="row p-2">
		<div class="col-md-4">
			<label for="email" class="form-label">Email</label>
		</div>
		<div class="col-md-6">
			<input type="email" id="email" name="email"
				placeholder="Enter Employee Email"
				class="form-control">
		</div>
	</div>


	<!-- ================= JOB INFORMATION ================= -->
	<h5 class="bg-primary text-white p-2 rounded mt-3">
		Job Information
	</h5>

	<div class="row p-2">
		<div class="col-md-4">
			<label for="company" class="form-label">Company</label>
		</div>
		<div class="col-md-6">
			<input type="text" id="company" name="company"
				placeholder="Enter Employee Company"
				class="form-control">
		</div>
	</div>

	<div class="row p-2">
		<div class="col-md-4">
			<label for="department" class="form-label">Department</label>
		</div>
		<div class="col-md-6">
			<select name="departments" class="form-select">
    <option value="">--- Select Department ---</option>

    <option th:each="d : ${dlist}"
            th:value="${d.id}">
        [[${d.dptName}]]
    </option>
</select>
		</div>
	</div>

	<div class="row p-2">
		<div class="col-md-4">
			<label for="post" class="form-label">Post</label>
		</div>
		<div class="col-md-6">
			<input type="text" id="post" name="post"
				placeholder="Enter Employee Post"
				class="form-control">
		</div>
	</div>

	<div class="row p-2">
		<div class="col-md-4">
			<label for="salary" class="form-label">Salary</label>
		</div>
		<div class="col-md-6">
			<input type="number" id="salary" name="salary"
				placeholder="Enter Employee Salary"
				class="form-control">
		</div>
	</div>


	<!-- ================= PROJECT INFORMATION ================= -->
	<h5 class="bg-primary text-white p-2 rounded mt-3">
		Projects
	</h5>

	<div class="row p-2">
		<div class="col-md-4">
			<label class="form-label">Assigned Projects</label>
		</div>

		<div class="col-md-6">

			<div class="form-check">
				<input type="checkbox" id="project1"
					name="projects" value="project-1"
					class="form-check-input">
				<label for="project1" class="form-check-label">
					Project-1
				</label>
			</div>

			<div class="form-check">
				<input type="checkbox" id="project2"
					name="projects" value="project-2"
					class="form-check-input">
				<label for="project2" class="form-check-label">
					Project-2
				</label>
			</div>

			<div class="form-check">
				<input type="checkbox" id="project3"
					name="projects" value="project-3"
					class="form-check-input">
				<label for="project3" class="form-check-label">
					Project-3
				</label>
			</div>

			<div class="form-check">
				<input type="checkbox" id="project4"
					name="projects" value="project-4"
					class="form-check-input">
				<label for="project4" class="form-check-label">
					Project-4
				</label>
			</div>

			<div class="form-check">
				<input type="checkbox" id="project5"
					name="projects" value="project-5"
					class="form-check-input">
				<label for="project5" class="form-check-label">
					Project-5
				</label>
			</div>

		</div>
	</div>


	<!-- ================= DATE INFORMATION ================= -->
	<h5 class="bg-primary text-white p-2 rounded mt-3">
		Date Information
	</h5>

	<div class="row p-2">
		<div class="col-md-4">
			<label for="dob" class="form-label">Date of Birth</label>
		</div>
		<div class="col-md-6">
			<input type="date" id="dob" name="dob"
				class="form-control">
		</div>
	</div>

	<div class="row p-2">
		<div class="col-md-4">
			<label for="joinDate" class="form-label">Join Date</label>
		</div>
		<div class="col-md-6">
			<input type="date" id="joinDate" name="joinDate"
				class="form-control">
		</div>
	</div>


	<!-- ================= ADDRESS INFORMATION ================= -->
	<h5 class="bg-primary text-white p-2 rounded mt-3">
		Address Information
	</h5>

	<div class="row p-2">
		<div class="col-md-4">
			<label for="country" class="form-label">Country</label>
		</div>
		<div class="col-md-6">
			<input type="text" id="country" name="address.country"
				placeholder="Enter Employee Country"
				class="form-control">
		</div>
	</div>

	<div class="row p-2">
		<div class="col-md-4">
			<label for="city" class="form-label">City</label>
		</div>
		<div class="col-md-6">
			<input type="text" id="city" name="address.city"
				placeholder="Enter Employee City"
				class="form-control">
		</div>
	</div>

	<div class="row p-2">
		<div class="col-md-4">
			<label for="state" class="form-label">State</label>
		</div>
		<div class="col-md-6">
			<select id="state" name="address.state"
				class="form-select">

				<option value="">--- Select State ---</option>
				<option value="state-1">State - 1</option>
				<option value="state-2">State - 2</option>
				<option value="state-3">State - 3</option>
				<option value="state-4">State - 4</option>
				<option value="state-5">State - 5</option>
				<option value="state-6">State - 6</option>
				<option value="state-7">State - 7</option>

			</select>
		</div>
	</div>

	<div class="row p-2">
		<div class="col-md-4">
			<label for="zipcode" class="form-label">Zip Code</label>
		</div>
		<div class="col-md-6">
			<input type="text" id="zipcode" name="address.zipcode"
				placeholder="Enter Employee Zip Code"
				class="form-control">
		</div>
	</div>


	<!-- ================= SUBMIT ================= -->
	<div class="row p-3 mt-2">
		<div class="col-md-4"></div>

		<div class="col-md-6">
			<input type="submit"
				value="Add Employee"
				class="btn btn-success btn-lg px-4">
		</div>
	</div>

</form>
			</div>
			<div class="card-footer bg-warning text-center">@copyright2026</div>
		</div>
	</div>
</body>
</html>