<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>

</head>
<body>

<th:block th:insert="header.html"></th:block>

<!-- Welcome -->
<div class="container mt-5">

    <div class="card shadow">

        <div class="card-header bg-primary text-white"
     th:if="${session.activeUser != null}">

    <h4 class="mb-0">
        Welcome,
        <span th:text="${session.activeUser.username}"></span> 👋
    </h4>

</div>

<div class="card-header bg-primary text-white"
     th:unless="${session.activeUser != null}">

    <h4 class="mb-0">
        Welcome, Guest 👋
    </h4>

</div>
        <div class="card-body">
            <p class="lead">
                Welcome to the <strong>Employee Management System</strong>.
            </p>

            <hr>

           

        </div>

    </div>

</div>

<footer class="bg-dark text-white text-center py-3 mt-5">
    © 2026 Spring Boot Project
</footer>

</body>
</html>