<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Product Gallery</title>
</head>
<body>
<th:block th:insert="header.html"></th:block>
	<div class="container-fluid mt-2">
		<div class="card">
			<div class="card-header bg-primary text-center text-white">
				<h4> Product Images Gallery</h4>
			</div>
			<div class="card-body ">
				<span th:each="pd: ${prodList}">
					<img  th:src="@{${pd.image}}" height="300px" width="300px" class="p-2">
				</span>
			</div>
			<div class="card-footer bg-warning text-center">@copyright2026</div>
		</div>
	</div>
</body>
</html>